 @import url("https://fonts.googleapis.com/css2?family=family=Amatic+SC&display=swap");
 @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Mooli&display=swap');
 :root {
 --primary-color: #1B98E0;
 --secondary-color: #59c3c3;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: "Amatic SC";
 }
 *{
    font-family: "Mooli", sans-serif;
    font-weight: 400;
    font-style: normal;
 }
 body{
    max-width: 1200px;
    margin: auto;
 }
img{
    max-width: 100%;
    margin-bottom: 20px;
}
h1{
    font-family: var(--secondary-font);
    display: inline;
    font-size: 80px;
}
.logo-container{
    margin: 30px 10px;
    text-align: center;
}
.logo{
    max-width: 50%;
    width: 120px;
}
form{
    width: 100%;
    text-align: center;
    margin: auto;
}
input[type=image]{
    max-height: 35px;
    width: 25px;
   /* border: 1px solid black;*/
}
input[type=search]{
    height: 40px;
    width: 85%;
    border-radius: 5px;
}
main{
    margin: 5px 10px 20px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
}
main a{
    margin-top: 25px;
    padding: 10px;
    border: 1px solid black;
}
h2{
    color: var(--primary-color);
}
.content p{
    display: none;
}
div.social img{
    width: 50px;
}
footer{
    text-align: center;
}
hr{
    margin: 25px 0;
}
@media screen and (min-width: 768px){
    main{
        display: grid;
        grid-template-columns: 50% 50%;
        padding-bottom: 0;
    }
    main img{
        grid-column: 1/2;
    }
    main div{
        grid-column: 2/3;
        padding-top: 12px;
        margin-left: 25px;
    }
    .content p{
        display: block;
    }
    footer{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
        padding: 10px;
    }
    footer div{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    footer a{
        grid-column: 1/2;
        grid-row: 1/2;
    }


}