@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Mooli&display=swap');

:root{
    --gold: #EFC69B;
    --red: #AF1B3F;
    --dark: #473144;
    --body-font: Helvetica, Arial, sans-serif;
    --headline-font: "Lora", Impact, serif;
}
*{
    font-family: var(--body-font);
    color: var(--dark);
}
h1{
    font-family: var(--headline-font);
    text-align: center;
    font-size: 2.5em;
}
h2{
    color: var(--red);
    margin-top: 5px;
    font-family: var(--headline-font);
    font-size: 2em;
}
nav{
    border-style: solid none;
    border-color: var(--gold);
    border-width: 3px;
}
.main-nav{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,100px);
    justify-content: end;
    max-width: 1200px;
    padding: 0;
    margin: 1em auto 1em;
}

a{
    color: var(--red);
    text-decoration: none;
}
main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3,auto);
    row-gap: 30px;
    margin: auto;
    margin-top: 30px;
    max-width: 1200px;
}
section{
    display: grid;
    grid-template-columns: auto auto;
    grid-column: 1;
}
.article-details{
    margin-right: 20px;
    border-right-style: solid;
    border-color: var(--gold);
    border-width: 2px;
    padding-right: 15px;
    width: 200px;
}
.article-details > ul{
    list-style: none;
    margin-top: 15px;
}
.article-details > ul >li{
    margin-top: 10px;
    text-align: right;
}
p{
    font-size: 1.2em;
}
.form{
    border: 3px solid var(--gold);
    grid-column: 2;
    grid-row: 1 / end;
    display: block;
    max-width: 300px;
}
form{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4,40px);
    padding: 15px;
}
select, label{
    height: 25px;
}
.skiptocontent a{
    position: absolute;
    top: -25px;
    background-color: #AF1B3F;
    color: white;
}
.skiptocontent a:focus{
    top: 0;
}
.date{
    font-size: 18px;
}
img{
    width: 50%;
    max-width: 250px;
    display: block;
    margin: auto;
}